.auth_group {
  display: flex;
  width: 100%;
  max-width: 22.5rem;
  column-gap: 0.63rem;
  .auth_input {
    width: 100%;
    height: 3.75rem;
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    &:focus-visible {
      outline: none !important;
      border-bottom: 2px solid #0000ffeb;
    }
  }
}
