* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

a {
  outline: none;
  text-decoration: none;
}

.App {
  display: flex;
  justify-content: center;
}

/* Remove Arrows/Spinners in input nuber for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove Arrows/Spinners in input nuber for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
