.verification_code {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 14rem;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #999090;
  .btn_box {
    padding: 0.7rem;
    background: #fff;
    border-radius: 0.4rem;
    border: 1px solid;
    opacity: 0.6;
  }
  .btn_clear {
    margin-left: 1.5rem;
    border-color: rgb(225 16 16);
    color: rgb(229 54 54);
    font-weight: 600;
  }
  .btn_verify {
    border-color: #6363c1;
    color: #0909f9;
  }
  .correct_phone_number_btn {
    color: #0909f9;
    border: none;
    background-color: #fff;
  }
}
.modal_box {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  .modal {
    background: #fff;
    width: 30rem;
    height: 15rem;
    border-radius: 0.8rem;
    padding: 0.7rem;
    .modal_content {
      transition: all 0.3s ease-in-out;
      height: 100%;
      .modal_header,
      .modal_footer {
        height: 25%;
        display: flex;
        align-items: center;
        padding-left: 0.7rem;
        .button {
          padding: 0.4rem 1rem;
          background: #fff;
          border: 1px solid rgb(82, 79, 79);
          border-radius: 0.4rem;
        }
      }
      .footer_box {
        justify-content: end;
        padding-left: 0.4rem;
      }
      .modal_title {
        margin: 0;
      }
      .modal_body {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        height: 55%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .input_content {
          padding: 0.5rem;
          border-radius: 0.4rem;
          border: 1px solid #726d6d;
          width: 100%;
        }
        .box {
          width: 100%;
          padding: 0.5rem;
        }
      }
    }
  }
}
